@font-face {
  font-family: "Alisandra Demo";
  src: url("/fonts/Alisandra Demo.ttf");
}

@font-face {
  font-family: "ITCEDSCR";
  src: url("/fonts/ITCEDSCR.TTF");
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #3d3d3d;
  background-image: url("Images/Gutschein_Kochen_mittig_ohne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: Alisandra Demo, cursive;
  font-size: 14vmin;
  margin: 1vh;
}

p {
  font-family: ITCEDSCR, cursive;
  font-size: 9vmin;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

div {
  height: 100%;
  width: 100%;
}

@media (max-width: 75vh) {
  h1 {
    font-size: 20vmin;
  }

  p {
    font-size: 15vmin;
  }
}
